<!--
**********************************************
title : manageCategories
description : 카테고리 관리
author : jybobo
**********************************************
-->

<div class="row">
    <div class="col-xl-12">
      <div class="card shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
  
            <div>
              <div class="searchComponentDiv">
                <label>공개여부 : </label>
                <select class="form-control" id="searchOpenYn" data-live-search="true" data-width="auto" data-size="5">
                  <option>Mustard</option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                </select>
              </div>
            </div>
  
            <div>
              <div class="searchComponentDiv">
                <label>카테고리 : </label>
  
                <select class="form-control" id="searchCategory" data-live-search="true" data-width="auto" data-size="5">
                  <option>Mustard</option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                </select>
              </div>
            </div>
  
  
            <div>
              <div class="searchComponentDiv">
                <label>관련태그 : </label>
  
                <select class="form-control" id="searhRelatedTag" data-live-search="true" data-width="auto" data-size="5">
                  <option>Mustard</option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                  <option>Relish</option>
                </select>
              </div>
            </div>
  
            <div>
              <div class="searchComponentDiv">
                <label>컨텐츠명 : </label>
                <div class="dropdown bootstrap-select form-control">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
  
            <div>
              <div class="searchComponentDiv">
                <a href="#" class="btn btn-primary">
                  <span class="text">조회</span>
                </a>
              </div>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  
  
  </div>
  
  <style>
  
  </style>
  
  
  <div class="row searchResultDiv">
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">컨텐츠 리스트</h6>
  
          <div class="moduleBtnDiv">
              <ul>
                  <li id="btnAdd">
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                      <i class="fas fa-plus fa-sm text-white-50"></i> 추가
                    </a>
                  </li>
                  <li id="btnDel">
                      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-minus fa-sm text-white-50"></i> 삭제
                      </a>
                    </li>
                </ul>
          </div>
        </div>
  
        <!-- Card Body -->
        <div class="card-body">
          <div id="grid" class="lms-grid"></div>
  
          <div class="moduleBtnDiv">
              <ul>
                  <li id="btnSave">
                    <a href="#" class="btn btn-primary">
                      저장
                    </a>
                  </li>
                </ul>
          </div>
  
        </div>
  
        
      </div>
    </div>
  </div>
  
  
  <div class="spinner-border m-5" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  
  
  
  <!-- TOAST Grid -->
  <script src="/vendor/tui.grid-4.4.0/tui-grid.js"></script>
  <!-- /* bootstrap select */ -->
  <script src="/vendor/bootstrap-select/dist/js/bootstrap-select.js"></script>
  
  <script src="/view/manageCategories.js"></script>