<!--
**********************************************
title : manageNoticeTemplate
description : 공지사항 템플릿 관리
author : jybobo
**********************************************
-->


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shinple</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- bootstrap select -->
    <link href="/vendor/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/jsgrid/jsgrid.css">
    <link rel="stylesheet" href="/vendor/jsgrid/jsgrid-theme.css">
    <!-- Common CSS -->
    <link href="/css/lmsCommon.css" rel="stylesheet" type="text/css">

    <link href="/vendor/fakeloader-master/dist/fakeloader.css" rel="stylesheet" type="text/css">

    <!-- datepicker CSS -->
    <link href="/vendor/jquery-ui-1.12.1.custom/jquery-ui.structure.css" rel="stylesheet" type="text/css">
    <link href="/vendor/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" type="text/css">

    <link href="/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css">

    <!-- /* Bootstrap core JavaScript */ -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- /* Core plugin JavaScript */ -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- /* Custom scripts for all pages */ -->
    <script src="/js/sb-admin-2.min.js"></script>
    <!-- /* Page level plugins */ -->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <!-- /* firebase */ -->
    <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>
    <!-- <script src="/js/firebaseConfig.js"></script> -->
    <!-- /* bootstrap select */ -->
    <script src="/vendor/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <!-- datepicker -->
    <script src="/vendor/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="/vendor/jsgrid/jsgrid.js"></script>

    <script src="/vendor/moment/moment.min.js"></script>
    <script src="/vendor/fakeloader-master/dist/fakeLoader.min.js"></script>
    <script src="/vendor/daterangepicker/daterangepicker.js"></script>

    <script src="/view/manageNoticeTemplate.js"></script>
    <script src="/js/main.js"></script>

</head>

<body class="contentInnerBody">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" id="contentHeader">공지사항 템플릿 관리</h1>
    </div>
    <div class="row searchResultDiv">
        <div class="col-md-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">공지사항 템플릿 목록</h6>
                    <div class="moduleBtnDiv">
                        <ul>
                            <li id="btnAdd">
                                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">신규등록</a>
                            </li>

                            <li id="btnDel">
                                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                    <i class="fas fa-minus fa-sm text-white-50"></i> 삭제
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <div id="grid" class="lms-grid"></div>
                    </div>
                </div>

            </div>
        </div>






        <div class="col-md-8">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">공지사항 템플릿 상세</h6>
                        <div class="moduleBtnDiv">
                            <ul>
                                <li id="btnSaveDetail">
                                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                            저장
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
    
                        <div>
                            <table class="registerTable" style="margin-bottom: 20px;">
                                <colgroup>
                                    <col width="20%" />
                                    <col width="30%" />
                                    <col width="20%" />
                                    <col width="30%" />
                                </colgroup>
                                <tbody>
    
                                    <tr>
                                        <th class="required"><span>템플릿명</span></th>
                                        <td colspan="3">
                                            <input type="text" class="form-control" id="templateNm" />
                                        </td>
                                    </tr>
    
                                    <tr>
                                        <th class="required"><span>내용</span><i id="btnGuide" class="fas fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="도움말" style="cursor: pointer;"></i></th>
                                        <td colspan="3">
                                            <textarea id="detailText" class="form-control"
                                                style="resize: none; width: 100%; height: 500px; overflow: auto;"></textarea>
                                        </td>
                                    </tr>
    
                                </tbody>
                            </table>
    
                        </div>
                    </div>
    
                </div>
            </div>
    </div>


    <div class="modal fade" id="modal-guide" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:870px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">도움말</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times" style="color:white"></i></span>
                </button>
            </div>
            <div class="modal-body" style="overflow:auto; max-height: 500px;">

                    <div class="card shadow mb-4 searchResultDiv">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">와일드카드 사용 가이드</h6>
                            </div>
                    
                            <div class="card-body">

                                    특정 키워드 를 이용하여 범용적으로 푸쉬알림을 보낼 수 있습니다.<br/><br/>

                                    <table class="registerTable" style="margin-bottom: 25px;">
                                        <colgroup>
                                            <col width="20%" />
                                            <col width="25%" />
                                            <col width="55%" />
                                        </colgroup>
                                        <tbody>
                                    
                                            <tr>
                                                <th rowspan="5"><span>와일드카드 종류</span></th>
                                                <th><span>{NAME}</span></th>
                                                <td>
                                                    <span>사원명</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span>{COMPANY}</span></th>
                                                <td>
                                                    <span>회사명</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th><span>{DEPT}</span></th>
                                                <td>
                                                    <span>부서명</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span>{DATE}</span></th>
                                                <td>
                                                    <span>현재 날짜</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span>{CONTENT}</span></th>
                                                <td>
                                                    미이수한 강좌명<br/> 
                                                    <span style="color:red;">**필수강좌 미이수자 검색 시에만 사용 가능합니다.</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="registerTable">
                                            <colgroup>
                                                <col width="20%" />
                                                <col width="25%" />
                                                <col width="55%" />
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <th rowspan="5"><span>예시</span></th>
                                                    <th><span>텍스트</span></th>
                                                    <td>
                                                            {NAME} 님 안녕하세요.<br/>
                                                            현재 {DATE} 기준으로 {COMPANY} {DEPT} 팀에서 진행하는 강좌를 아직 수강하지 않으셔서 알림 드립니다.<br/>
                                                            일주일 내에 수강완료 부탁드립니다.<br/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th><span>실제 알림메세지</span></th>
                                                    <td>
                                                            김신한 님 안녕하세요.<br/>
                                                            현재 2019-09-02 기준으로 신한DS 은행인프라 팀에서 진행하는 강좌를 아직 수강하지 않으셔서 알림 드립니다.<br/>
                                                            일주일 내에 수강완료 부탁드립니다.
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                            </div>
                    
                        </div> 


            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>



    </div>
    </div>
    </div>
    </div>






    </div>
    </div>
    </div>

</body>