<!--
**********************************************
title : manageContents
description : 공지사항 관리
author : jyyeun
**********************************************
-->

<style>
    .searchComponentDiv {
        margin: 10px
    }
</style>

<div class="row">
    <div class="col-xl-12">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">


                    <div>
                        <div class="searchComponentDiv">
                            <label>제목 : </label>

                            <div class="dropdown bootstrap-select form-control"
                                style="width:166px;float: none;margin-bottom: 0;padding: 0;border: none;">
                                <input type="text" class="form-control" style="float: left;" />
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="searchComponentDiv">
                            <label>등록일자</label> : </label>
                            <div class="dropdown bootstrap-select form-control"
                                style="width:166px;float: none;margin-bottom: 0;padding: 0;border: none;">
                                <input type="text" id="searchRegDate" class="form-control" style="float: left;" />
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="searchComponentDiv">
                            <a href="#" class="btn btn-primary">
                                <span class="text">검색</span>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


</div>


<div class="row" style="margin-top: 20px;">
    <div class="col-xl-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">공지사항 리스트</h6>

                <div style="float: right" class="m-0">
                    <ul style="list-style:none;" class="modulBtnUl m-0">
                        <li id="btnAdd" style="float: left">
                            <a style="float: right; margin-right: 5px;" href="#"
                                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-plus fa-sm text-white-50"></i> 추가
                            </a>
                        </li>
                        <li id="btnDel" style="float: left">
                            <a style="float: right; margin-right: 5px;" href="#"
                                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-minus fa-sm text-white-50"></i> 삭제
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <div id="grid" style="margin-bottom: 20px;"></div>

                <div style="float: right;" class="m-0">
                    <a href="#" class="btn btn-primary">
                        <span class="text">저장</span>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>













<!-- TOAST Grid -->
<script src="/vendor/tui.grid-4.4.0/tui-grid.js"></script>
<!-- /* bootstrap select */ -->
<script src="/vendor/bootstrap-select/dist/js/bootstrap-select.js"></script>
<!-- datepicker -->
<script src="/vendor/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="/view/manageStudy.js"></script>