<!--
**********************************************
title : registerContnet
description : 공지사항 등록
author : juyeun
**********************************************
-->


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shinple</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- bootstrap select -->
    <link href="/vendor/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <!-- TOAST Grid -->
    <link rel="stylesheet" href="/vendor/tui.grid-4.4.0/tui-grid.css" />
    <!-- Common CSS -->
    <link href="/css/lmsCommon.css" rel="stylesheet" type="text/css">

    <!-- datepicker CSS -->
    <link href="/vendor/jquery-ui-1.12.1.custom/jquery-ui.structure.css" rel="stylesheet" type="text/css">
    <link href="/vendor/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" type="text/css">

    <!-- dropzone CSS -->
    <link rel="stylesheet" href="/vendor/dropzone/dist/dropzone.css">

    <link rel="stylesheet" href="/vendor/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css">

    <!-- /* Bootstrap core JavaScript */ -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- /* Core plugin JavaScript */ -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- /* Custom scripts for all pages */ -->
    <script src="/js/sb-admin-2.min.js"></script>
    <!-- /* Page level plugins */ -->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <!-- /* firebase */ -->
    <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>
    <script src="/js/firebaseConfig.js"></script>
    <!-- /* bootstrap select */ -->
    <script src="/vendor/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <!-- datepicker -->
    <script src="/vendor/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <!-- TOAST Grid -->
    <script src="/vendor/tui.grid-4.4.0/tui-grid.js"></script>

    <!-- dropzone -->
    <script src="/vendor/dropzone/dist/dropzone.js"></script>
    <script src="/js/attachFileUtil.js"></script>

    <script src="/vendor/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.js"></script>

    <script src="/vendor/moment/moment.min.js"></script>

    <script src="/view/registerNotice.js"></script>
    <script src="/js/main.js"></script>


    <style>
        .dropzone {
            /* width: 200px;  */
            height: 100px;
            min-height: 0px;
            border: 1px solid #d1d3e2;
        }

        .dropzone .dz-message {
            margin: 0;
        }

        #thumbnailFile {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 80px;
            opacity: 0;
        }

        #thumbnailImgPreview {
            /* width: 200px; */
            width: 100%;
            height: 100px;
            display: table;
            text-align: center;
            border: 1px solid #d1d3e2;
            background-color: black;
            color: white;
            cursor: pointer;
        }

        #thumbnailImgPreview span {
            display: table-cell;
            vertical-align: middle;
        }

        #videoAttachFile {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 80px;
            opacity: 0;
        }
    </style>
</head>

<body class="contentInnerBody">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" id="contentHeader">공지사항 관리</h1>
    </div>


    <div class="row searchResultDiv">
        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">공지사항 등록</h6>
                </div>

                <!-- Card Body -->
                <div class="card-body">
                    <table class="registerTable" style="margin-bottom: 20px;">
                        <colgroup>
                            <col width="20%" />
                            <col width="30%" />
                            <col width="20%" />
                            <col width="30%" />
                        </colgroup>
                        <tbody>
                           
                          <tr>
                            <th class="required"><span>작성자</span></th>
                            <td>
                                <input type="text" id="author" class="form-control" style="width:100%" />
                            </td>
                            <th class="required"><span>등록일자</span></th>
                            <td>
                              <input type="text" id="date" class="form-control" style="width:100%" />
                                </select>
                            </td>
                        </tr>


                            <tr>
                              <th class="required"><span>제목</span></th>
                              <td colspan="3">
                                  <input type="text" id="relatedTags" data-role="tagsinput"/>
                              </td>
                          </tr>

                            <tr>
                                <th class="required"><span>게시기간</span></th>
                                <td>
                                    <input type="text" id="author" class="form-control" style="width:100%" />
                                </td>
                                <th class="required"><span>공개여부</span></th>
                                <td>
                                    <select id="releaseYn" class="releaseYn" data-live-search="true" data-width="144px">
                                        <option value="Y">Y</option>
                                        <option value="N">N</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th><span>내용</span></th>
                                <td colspan="3">
                                    <textarea id="description" class="form-control" style="width:100%"></textarea>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="moduleBtnDiv">
                        <ul>
                            <li id="btnSave">
                                <a href="#" class="btn btn-primary">
                                    저장
                                </a>
                            </li>
                            <li id="btnList">
                                    <a href="#" class="btn btn-secondary">
                                        목록
                                    </a>
                                </li>
                        </ul>
                    </div>

                </div>


            </div>
        </div>
    </div>


</body>

</html>