<!--
**********************************************
title : updateContent
description : 강의 수정
author : jybobo
**********************************************
-->


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shinple</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- bootstrap select -->
    <link href="/vendor/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <!-- Common CSS -->
    <link href="/css/lmsCommon.css" rel="stylesheet" type="text/css">

    <!-- datepicker CSS -->
    <link href="/vendor/jquery-ui-1.12.1.custom/jquery-ui.structure.css" rel="stylesheet" type="text/css">
    <link href="/vendor/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/vendor/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.css">
    <link href="/vendor/fakeloader-master/dist/fakeloader.css" rel="stylesheet" type="text/css">

    <!-- /* Bootstrap core JavaScript */ -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- /* Core plugin JavaScript */ -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- /* Custom scripts for all pages */ -->
    <script src="/js/sb-admin-2.min.js"></script>
    <!-- /* Page level plugins */ -->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <!-- /* firebase */ -->
    <script src="https://www.gstatic.com/firebasejs/6.3.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>
    <script src="/js/firebaseConfig.js"></script>

    <!-- /* bootstrap select */ -->
    <script src="/vendor/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <!-- datepicker -->
    <script src="/vendor/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

    <script src="/vendor/bootstrap-tagsinput-latest/dist/bootstrap-tagsinput.js"></script>

    <script src="/vendor/moment/moment.min.js"></script>

    <script src="/vendor/fakeloader-master/dist/fakeLoader.min.js"></script>

    <script src="/view/updateContent_new.js"></script>
    <script src="/js/main.js"></script>


    <style>
        #thumbnailFile {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 80px;
            opacity: 0;
        }

        #thumbnailImgPreview {
            /* width: 200px; */
            width: 100%;
            height: 100px;
            display: table;
            text-align: center;
            border: 1px solid #d1d3e2;
            background-color: black;
            color: white;
            cursor: pointer;
        }

        #thumbnailImgPreview span {
            display: table-cell;
            vertical-align: middle;
        }

        #videoAttachFile {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 80px;
            opacity: 0;
        }
    </style>
</head>

<body class="contentInnerBody">

    <div id="fakeloader-overlay" class="visible incoming">
        <div class="loader-wrapper-outer">
            <div class="loader-wrapper-inner">
                <div class="loader"></div>
            </div>
        </div>
    </div>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" id="contentHeader">강좌 관리</h1>
    </div>


    <div class="row searchResultDiv">
        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">강의 수정</h6>
                </div>

                <!-- Card Body -->
                <div class="card-body">
                    <table class="registerTable" style="margin-bottom: 20px;">
                        <colgroup>
                            <col width="20%" />
                            <col width="30%" />
                            <col width="20%" />
                            <col width="30%" />
                        </colgroup>
                        <tbody>
                                <tr>
                                        <th class="required"><span>강의명</span></th>
                                        <td colspan="3">
                                            <input type="text" id="title" class="form-control" style="width:100%" />
                                        </td>
                                    </tr>
                            <tr>
                                <th><span>강좌명</span></th>
                                <td colspan="3">
                                    <span id="lectureTitle"></span>
                                </td>
                            </tr>

                            <tr>
                                    <th><span>필수강의여부</span></th>
                                    <td>
                                        <span id="requireYn"></span>
                                    </td>
                                    <th><span>정렬순서</span></th>
                                    <td>
                                        <input type="number" id="seq" class="form-control"/>
                                    </td>
                            </tr>
                            <tr>
                                <th><span>카테고리</span></th>
                                <td colspan="3">
                                    <select id="category" class="category" data-live-search="true" data-width="100%" disabled>
                                        <option value="Y">Y</option>
                                        <option value="N">N</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th class="required"><span>동영상</span></th>
                                <td>
                                    <input type="file" id="videoAttachFile" />
                                    <video id="video"
                                        style="width: 320px; height: 180px; background-color: black; background-size: cover;">
                                        이 브라우저는 지원 안함
                                    </video>
                                </td>
                                <th class="required"><span>썸네일</span></th>
                                <td>
                                    <div>
                                        <input type="file" id="thumbnailFile" />
                                        <div id="output" style="cursor: pointer;">
                                                <canvas id="canvas" width="320" height="180"></canvas>
                                            </div>
                                    </div>

                                </td>
                            </tr>




                            <tr>
                                <th class="required"><span>상세설명</span></th>
                                <td colspan="3">
                                    <textarea id="description" class="form-control" style="width:100%; height:200px; resize: none;"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="moduleBtnDiv">
                        <ul>
                            <li id="btnSave">
                                <a href="#" class="btn btn-primary">
                                    저장
                                </a>
                            </li>
                            <li id="btnList">
                                <a href="#" class="btn btn-secondary">
                                    목록
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>


            </div>
        </div>
    </div>


</body>

</html>